# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
@karljan456
@dadaJunglist
@marikadu
@shreyakhetani
# will be requested to review.
*Motor.java   @karljan456
*Main.java    @karljan456
*Disco.java   @marikadu
*Music.java   @marikadu
*Celebration.java   @marikadu
*DataExchange @dadaJunglist
*FollowLine @dadaJunglist
*ObstacleAvoidance @shreyakhetani

